

     <div class="container">
      <div class="row justify-content-center">

          <div calss="col-4">
           <h2 class="col-md-5 text-center"style="background-color: #efefef">商品編集</h2>
           <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch, local: true do |f| %>
              <div class="form-group">
                <p>商品画像
                <%= f.file_field :image, accept: "image/*" %></p>
              </div>
              <div class="form-group">
                <p>商品名
                <%= f.text_field :item_name %></p>
              </div>
              <div class="form-group">
                <p>商品説明
                <%= f.text_area :introduction %></p>
              </div>
              <div class="form-group">
              　<p>ジャンル
              　<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %></p>
              </div>
              <div class="form-group">
               <p>税抜価格
               <%= f.text_field :price %>円</p>
              </div>
              <div class="form-group">
                <p><%= f.label :販売ステータス %> </p>
                   <%= f.radio_button :item_status, true %>
          　        <%= f.label :"販売中", '販売中', value: true %>
          　        <%= f.radio_button :item_status, false %>
          　        <%= f.label :"販売停止中", '販売停止中', value: false %>
          　    </div>

               <div class="form-group">
                 <%= f.submit "変更を保存", class: 'btn btn-success btn-lg' %>
               </div>
            <% end %>
           </div>
         </div>
       </div>
      </div>
    </div>









