<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h2 class="col-md-4 text-center"style="background-color: #efefef">ショッピングカート</h2>
    <div class="row justify-content-end">
      <div class="col-3" style="height:50px;">
       <%= link_to cart_items_destroy_all_path, method: :delete, class: 'btn btn-sm btn-danger' do %>
        カートを空にする<% end %>
     </div>
     </div>
     <table border="2" width="1000">
         <thead>
          <tr bgcolor="#efefef">

           <th width="20%">商品名</th>
           <th width="10%">単価（税込）</th>
           <th width="30%">数量</th>
           <th width="10%">小計</th>
           <th width="10%"></th>

          </tr>
         </thead>
         <tbody>

          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= image_tag cart_item.item.image, size: "50x50" %>
              <%= cart_item.item.item_name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= form_for cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                    <%= f.number_field :amount, value:cart_item.amount %>
                    <%= f.hidden_field :item_id, :value => cart_item.item.id %>
                    <%= f.submit "変更", class:"btn btn-success" %>
                  <% end %>
              </td>
              <td><%= cart_item.subtotal%></td>
              <td><%= link_to cart_item_path(cart_item.id), method: :delete, class: 'btn btn-sm btn-danger' do %>
                   削除する<% end %>
              </td>
            </tr>
          <% end %>
         </tbody>
      </table>

               <div class="row justify-content-end">
                 <div class="col-3">
                  
                   <table border="2" width="145" height="50">
                     <tr><th bgcolor="#efefef">合計金額</th><td><%= @total %></td></tr>
                   </table>
                   
                  </div>
                </div>

              <div class="row justify-content-start">
               <div class="col-4">
                <%= link_to root_path, class: 'btn btn-md btn-primary' do %>
                買い物を続ける <% end %>
               </div>
              </div>

              <div class="row justify-content-center">
               <div class="col-4">
                 <%= link_to new_order_path, class: 'btn btn-lg btn-success' do %>
                 情報入力に進む <% end %>
               </div>
              </div>
        </div>
      </div>
    </div>










