<div class="container">
  <div class="row">
    <div class="col">
      <h3 style="background-color: #efefef">
        <%= @end_user.last_name %>
        <%= @end_user.first_name %>
        さんの会員情報編集
      </h3>
      <table class="col">
        <tr height="50">
          <th>会員ID</th>
          <td><%= @end_user.id %></td>
        </tr>
        <%= form_with model: @end_user, method: :patch do |f| %>
          <tr height="50">
            <th>氏名</th>
            <td class="form-row">
                <%= f.text_field :last_name, class: "form-control col" %>
                <%= f.text_field :first_name, class: "form-control col" %>
            </td>
          </tr>
          <tr height="50">
            <th>フリガナ</th>
            <td class="form-row">
              <%= f.text_field :last_name_kana, class: "form-control col" %>
              <%= f.text_field :first_name_kana, class: "form-control col" %>
            </td>
          </tr>
          <tr height="50">
            <th>郵便番号</th>
            <td><%= f.text_field :postcode, class: "form-control" %></td>
          </tr>
          <tr height="50">
            <th>住所</th>
            <td><%= f.text_field :address, class: "form-control" %></td>
          </tr>
          <tr height="50">
            <th>電話番号</th>
            <td><%= f.text_field :phone_number, class: "form-control" %></td>
          </tr>
          <tr height="50">
            <th>メールアドレス</th>
            <td><%= f.text_field :email, class: "form-control" %></td>
          </tr>
          <tr height="50">
            <th>会員ステータス</th>
            <td>
              有効<%= f.radio_button :finished, "false" %>
              退会<%= f.radio_button :finished, "true" %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td align="right"><%= f.submit '変更を保存', class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
