<h4>注文情報入力</h4>
<%= form_with model: @order, url: orders_confirm_path, method: :post, local:true do |f| %>
  <h2>支払い方法</h2>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>

  <h2>お届け先</h2>
  <%= f.radio_button :address_pass, 0, checked: "checked" %>
  <%= f.label :address, 'ご自身の住所', value: 0 %>　　　　<!--各ボタンに番号を割り振り、コントローラーで場合分けする。-->
  <%= current_end_user.postcode %><% current_end_user.address %><br><%= current_end_user.last_name %><%= current_end_user.first_name %><br>
  <%= f.radio_button :address_pass, 1, checked: "checke" %>
  <%= f.label :address, "登録済住所から選択", value: 1 %><br>
  <%= f.select :address, options_from_collection_for_select(Address.all, :id, :address) %><br>
  <%= f.radio_button :address_pass, 2, checked: "checked" %>
  <%= f.label :address, "新しいお届け先", value: 2 %><br>

    <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postcode %></p>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %></p>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %></p>
    <p><%= f.submit '確認画面へ進む' %></p>

<% end %>