<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/genres/genre',genres: @genres %>
    </div>
      <div class='col-md-8 offset-md-1'>
        <h2>商品一覧</h2><p>(全<%= @items.count %>件)</p>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "50x50" %>
                <% end %>
              </td>
              <td>
                <%= item.item_name %>
              </td>
              <td>
                <%= item.price %>
              </td>
            </tr>
            <% end %>
        </tbody>
        <%= paginate @items %>
      </div>
  </div>
</div>