<div class='container'>
   <h2>商品一覧</h2>(全<%= @items.count %>件)
   <div class='row m-5'>
         <% @items.each do |item| %>
          <div class="col-md-3">
             <div class= 'card mb-4'>
          <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "180x150" %>
                <% end %>
                <p class="text-center"><%= item.item_name %>
                <br>¥<%= item.price %></p>
              </div>
           </div>
            <% end %>
        <%= paginate @items %>
  </div>
</div>