<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  　<div class='container-fluid' style= "background-color: #fffafa">

    <%= render 'public/layouts/header' %>
    <%= yield %>
    <%= render 'public/layouts/footer' %>
    </div>
  </body>
</html>
